body {
    text-align: center;
}

.container{
    display: flex;
    margin-top: 5%;
    margin: auto;
}

.grid {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    
}

.grid div {
    height: 30px;
    width: 30px;
    outline: 1px solid white;
}

.tetromino {
    background-color: red;
}

.minigrid {
    width: 120px;
    height: 180px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;

}